<head>
    <title>Norless</title>
    <meta name="application-name" content="Norless" />
    <meta name="description" content="Presentation for the Church" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- ios disable zoom -->
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />

    <!-- ios no address bar -->
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- ios translucent status bar -->
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />

    <!-- browser icon -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    <!-- iphone icon -->
    <link
        rel="apple-touch-icon-precomposed"
        sizes="57x57"
        href="/images/apple-touch-icon-57x57-precomposed.png"
    />

    <!-- iphone retina icon -->
    <link
        rel="apple-touch-icon-precomposed"
        sizes="114x114"
        href="/images/apple-touch-icon-114x114-precomposed.png"
    />

    <!-- ipad icon -->
    <link
        rel="apple-touch-icon-precomposed"
        sizes="72x72"
        href="/images/apple-touch-icon-72x72-precomposed.png"
    />

    <!-- other icons -->
    <link rel="icon" href="/images/icon-32x32.png" sizes="32x32" />
    <link rel="icon" href="/images/icon-48x48.png" sizes="48x48" />
    <link rel="icon" href="/images/icon-64x64.png" sizes="64x64" />
    <link rel="icon" href="/images/icon-128x128.png" sizes="128x128" />
    <link rel="icon" href="/images/icon-256x256.png" sizes="256x256" />
</head>

<body>
    <div id="app"></div>
</body>
